@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Joan&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,700&family=Oswald:wght@200;300;400;500;700&family=Radio+Canada:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.kuda-shadow {
    box-shadow:  4px 13px rgb(0 0 0 / 5%);
}

.kuda-animation {
    animation: slide-in-out .6s cubic-bezier(.455,.03,0,1) forwards;
}

.btn-white {
    color: white
}

.btn-color {
    border-color: #dfe3ff;
    background-color: #dfe3ff;
    color: #40196d;
}

.hero {
    min-height: calc(100vh - 120px);
    transform: translateY(0);
}